* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
  overflow-y: hidden; 
  overflow-x: hidden; 
  letter-spacing: 1.5;
  line-height: 1.5;
  
  
}

img {
  max-width: 100%;
  height: auto;
}

body {
  
  overflow-x: hidden;
  background-color:rgb(211, 247, 210) ;
}

