* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;

  letter-spacing: 1.5;
  line-height: 1.5;
}


body {
  margin: 0;
  padding: 0;
  height: 80vh;
  background: linear-gradient(to right , white , green);
  /* This creates a diagonal gradient from red to blue */
}

