/* Vision container*/
.contact-container{
    display: flex;
    flex-direction: column;
    margin-left: 30vh;
    width:1000px;
    height: 450px;
    margin-top: 10vh;
    background: #fff;
    padding-bottom:10px;
    padding-top: 30px;
    padding-left: 600px;
    
    font-family: 'Abril Fatface', cursive;
    }
  
    .visionimage{
      margin-left: 10vh;
      height: 100h;
      width: 30vw;
      margin-top: 10vh;
    }
  