/* About us container*/
.info-container{
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    width:700px;
    height: 300px;
    margin-top: -60vh;
    background: rgb(211, 247, 210) ;
    padding-bottom:10px;
    padding-top: 30px;
    padding-left: 30px;
    border-radius:60px;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    }

    .aboutus-heading{
      margin-top: 5vh;
      margin-left: 75vh;
      font-size: 50px;
    }
  
    .aboutusimage{
        margin-left: 10vh;
      height: 65vh;
      width: 35vw;
      margin-top: 1vh;
    }