

.heading {
    display: flex;
    align-items: center;  
    background-color:  linear-gradient(to right , white , green);
    justify-content: space-between;
    min-height: 10vh;
    margin-left: 0vh;
    margin-right: 0vh;
    margin-top: 0vh;
  }
  .navbar-menu-container3 {
    display: none;
    margin-top: 0vh;
    
  }
  
  .navbar-links-container3 a {
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0vh;
  }
  .navbar-links-container3 a:hover {
    text-decoration: underline;
  }
  
  .navbar-cart-icon {
    font-size: 1.15rem;
  }

  
  
  
  .dropdown-menu3 {
    position: absolute;
    top: 11vh; /* Adjust the top position as needed */
    right: 5vh;
    background-color: #fff; /* Add your desired background color */
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 120px; /* Adjust the minimum width as needed */
    z-index: 1;
  }
  
  .dropdown-menu3 a {
    color: #333; /* Add your desired text color */
    text-decoration: none;
    padding: 8px;
    transition: background-color 0.3s;
  }
  
  .dropdown-menu3 a:hover {
    background-color: #f0f0f0; /* Add your desired hover
  /* Home.css */}
  
  .dropdown-menu-sellergadget {
    position: absolute;
    top: 11vh; /* Adjust the top position as needed */
    right: 33vh;
    background-color: #fff; /* Add your desired background color */
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 120px; /* Adjust the minimum width as needed */
  }
  
  .dropdown-menu-sellergadget a {
    color: #333; /* Add your desired text color */
    text-decoration: none;
    padding: 8px;
    transition: background-color 0.3s;
  }
  
  .dropdown-menu-sellergadget a:hover {
    background-color: #f0f0f0; /* Add your desired hover
  /* Home.css */}